:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --icon-background-color: #f5f4fa;
  --card-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  margin: 0 auto;
  max-width: 1600px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: white;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Навигация */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.span-studio {
  color: #000000;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-list {
  margin-left: 93px;
  display: flex;
}

.navigation-item + .navigation-item {
  margin-left: 50px;
  /* background-color: tomato; */
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-item + .header-item {
  margin-left: 50px;
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-link.tel,
.header-link.mail {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.mail:hover,
.header-link.mail:focus,
.header-link.tel:hover,
.header-link.tel:focus {
  color: var(--accent-color);
}
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

/* Основной контент */

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_16.jpg);
  text-align: center;
}

.hero-container {
  width: 696px;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Наши преимущества */
.advantages.section {
  padding-bottom: 0px;
}
.visually-hiden {
  display: none;
}

.advantages-item + .advantages-item {
  margin-left: 30px;
}
.advantages-item {
  width: 270px;
}
.advantages-list {
  display: flex;
}
.advantages-slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.icon-charts-div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 270px;
  height: 120px;
  background-color: var(--icon-background-color);
  border-radius: 4px;
  margin-bottom: var(--card-gap);
}

/* Чем мы занимаэмся */

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.about-item + .about-item {
  margin-left: 30px;
}
.about-wrap {
  position: relative;
}
.about-text {
  font-weight: 700;
  font-size: 14px;
  padding-top: 27px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.background-text {
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.workers {
  background-color: #f5f4fa;
}
.workers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.workers-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.workers-item {
  background-color: #ffffff;
  width: 270px;
  /* height: 368px; */
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.workers-item + .workers-item {
  margin-left: 30px;
}
.workers-img {
  align-self: flex-start;
}
.workers-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.workers-name {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.workers-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
}

/* Постоянные клиенты */
.customers-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: center;
}
.customers-item {
  width: 170px;
  height: 92px;
  box-sizing: border-box;
}
.customers-link:hover,
.customers-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.customers-item + .customers-item {
  margin-left: var(--card-gap);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;

  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon {
  fill: currentColor;
}
/* Футер */
.footer {
  background: #2f303a;
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-studio {
  color: white;
}

.address-item {
  font-style: normal;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link-mail,
.address-link-tel {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-cont {
  display: flex;
  align-items: baseline;
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social {
  margin-left: 70px;
}
.footer-text {
  margin-bottom: 20px;
}
.social-list-footer {
  display: flex;
  justify-content: center;
}
.social-item-footer + .social-item-footer {
  margin-left: 10px;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.social-icon-footer {
  fill: currentColor;
}
.subscribe-footer {
  margin-left: 93px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
}
.input-wrapper {
  position: relative;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
}
.subscribe-icon {
  fill: currentColor;
  margin-left: 10px;
}
/* Основной контент портфолио */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.button-item + .button-item {
  margin-left: 8px;
}
.portfolio-button {
  padding: 6px 20px;
  border-color: #f5f4fa;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: inherit;
  cursor: pointer;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);
  flex-basis: calc(100% / 3 - var(--card-gap));
  position: relative;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-link:hover .portfolio-text-wrap,
.portfolio-link:focus .portfolio-text-wrap {
  transform: translateY(0);
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-text-wrap {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.portfolio-desc {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Modal */
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 10px;
}
.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-label:hover {
  cursor: pointer;
}

.input-wrap {
  position: relative;
  width: 100%;
}

.form-input:hover {
  cursor: pointer;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  padding-left: 42px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.input-icon {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  margin-bottom: 20px;
}
textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: none;
}
textarea::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.checkbox-field {
  position: relative;
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.checkbox-label {
  margin-left: 8px;
  cursor: pointer;
  font-family: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.check-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.check-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus + .checkbox-label > .check-icon {
  border: 2px solid var(--accent-color);
}

.checkbox:checked + .checkbox-label > .check-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  fill: #ffffff;
}

.checkbox-link {
  color: var(--accent-color);
}
